<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wantasbaya.uhung_aprendamos_miskito">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/uhung_pie"
        android:label="UHUNG Aprendamos Miskito"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".red_social"></activity>
        <activity android:name=".pdfinteractive" />
        <activity android:name=".curso_moodle" />
        <activity android:name=".diccionario" />
        <activity android:name=".Video_interactivo" />
        <activity android:name=".galeria_interactiva" />
        <activity android:name=".img_inteactive" />
        <activity android:name=".cultura" />
        <activity android:name=".traductor" />
        <activity android:name=".OfertaCursos" />
        <activity android:name=".MenuPrincipal" />
        <activity android:name=".mis_cursos" />
        <activity android:name=".iniciar_sesion" />
        <activity
            android:name=".crear_cuenta"
            android:label="@string/title_activity_crear_cuenta"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>