<div class="drawer" #drawer>
  <div class="ion-text-center">
    <ion-button fill="clear" expand="full" (click)="toggleDrawer()">
      <div class="drawer-pull"></div>
    </ion-button>
   
  </div>

  <div class="container">
    <ion-item lines="none">
      <ion-grid>
        <ion-row class="ion-align-items-center">
          <ion-col size="3">
            <ion-button fill="clear">
              <ion-icon slot="icon-only" name="school-sharp"></ion-icon>
            </ion-button>
          </ion-col>
          <ion-col size="7">
            <ion-label>
              <h4>Mis cursos</h4>
              <h6>Cursos matriculados</h6>
            </ion-label>
          </ion-col>
          <ion-col size="2">
            <ion-button fill="clear">
              <ion-icon slot="icon-only" name="arrow-forward-outline"></ion-icon>
            </ion-button>
          </ion-col>
        </ion-row>
        
      </ion-grid>
    </ion-item>
    <ion-item lines="none" routerLink="/traduc-dicc" routerDirection="forward" >
      <ion-grid>
        <ion-row class="ion-align-items-center">
          <ion-col size="3">
            <ion-button fill="clear">
              <ion-icon slot="icon-only" name="language-sharp"></ion-icon>
            </ion-button>
          </ion-col>
          <ion-col size="7">
            <ion-label>
              <h4>Traductor | diccionario</h4>
              <h6>Español - Miskito</h6>
            </ion-label>
          </ion-col>
          <ion-col size="2">
            <ion-button fill="clear">
              <ion-icon slot="icon-only" name="arrow-forward-outline"></ion-icon>
            </ion-button>
          </ion-col>
        </ion-row>
        
      </ion-grid>
    </ion-item>
    <ion-item lines="none">
      <ion-grid>
        <ion-row class="ion-align-items-center">
          <ion-col size="3">
            <ion-button fill="clear">
              <ion-icon slot="icon-only" name="library-sharp"></ion-icon>
            </ion-button>
          </ion-col>
          <ion-col size="7">
            <ion-label>
              <h4>Materiales interactivos</h4>
              <h6>¡Que bella la Costa Caribe!</h6>
            </ion-label>
          </ion-col>
          <ion-col size="2">
            <ion-button fill="clear">
              <ion-icon slot="icon-only" name="arrow-forward-outline"></ion-icon>
            </ion-button>
          </ion-col>
        </ion-row>
        
      </ion-grid>
    </ion-item>
    <ion-item lines="none" routerLink="/cancionero" routerDirection="forward">
      <ion-grid>
        <ion-row class="ion-align-items-center">
          <ion-col size="3">
            <ion-button fill="clear">
              <ion-icon slot="icon-only" name="musical-notes-sharp"></ion-icon>
            </ion-button>
          </ion-col>
          <ion-col size="7">
            <ion-label>
              <h4>Cancionero miskito</h4>
              <h6>Nuestra cultura</h6>
            </ion-label>
          </ion-col>
          <ion-col size="2">
            <ion-button fill="clear">
              <ion-icon slot="icon-only" name="arrow-forward-outline"></ion-icon>
            </ion-button>
          </ion-col>
        </ion-row>
        
      </ion-grid>
    </ion-item>
    <ion-item lines="none" routerLink="/juegos" routerDirection="forward">
      <ion-grid>
        <ion-row class="ion-align-items-center">
          <ion-col size="3">
            <ion-button fill="clear">
              <ion-icon slot="icon-only" name="dice-sharp"></ion-icon>
            </ion-button>
          </ion-col>
          <ion-col size="7">
            <ion-label>
              <h4>Juegos</h4>
              <h6>Aprendamos jugando</h6>
            </ion-label>
          </ion-col>
          <ion-col size="2">
            <ion-button fill="clear">
              <ion-icon slot="icon-only" name="arrow-forward-outline"></ion-icon>
            </ion-button>
          </ion-col>
        </ion-row>
        
      </ion-grid>
    </ion-item>
    <ion-item lines="none">
      <ion-grid>
        <ion-row class="ion-align-items-center">
          <ion-col size="3">
            <ion-button fill="clear">
              <ion-icon slot="icon-only" name="globe-sharp"></ion-icon>
            </ion-button>
          </ion-col>
          <ion-col size="7">
            <ion-label>
              <h4>Red social</h4>
              <h6>Siempre conectados</h6>
            </ion-label>
          </ion-col>
          <ion-col size="2">
            <ion-button fill="clear">
              <ion-icon slot="icon-only" name="arrow-forward-outline"></ion-icon>
            </ion-button>
          </ion-col>
        </ion-row>
        
      </ion-grid>
    </ion-item>  
  </div>

</div>