<ion-content [fullscreen]="true">

  <div id="header">
    <h1>Login</h1>
    <img src="https://i.ibb.co/ydgkqm9/logo.png"/>

    <form>
      
    </form>
  </div>

<!--
  <div id="logo">
      
    <img src="https://i.ibb.co/ydgkqm9/logo.png"/>
    <p>UHUNG<br> ¡Bienvenido!</p>    
  </div>

  <div id="container">
          
    <ion-button color="light" expand="block" routerLink="/menu-prin" routerDirection="forward">
      <ion-icon name="log-in-outline"></ion-icon>
      Iniciar sesión
    </ion-button>
    <br>

    <ion-button color="light" expand="block">
      <ion-icon name="person-add-outline"></ion-icon>
      Registrarse
    </ion-button>   
  </div>
  -->

</ion-content>
